﻿<div dir="ltr">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0px;border-collapse:collapse;background:none;color:rgb(51,51,51);font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;table-layout:fixed;border:0px;margin:0px;padding:0px">
        <tbody>
            <tr>
                <td cellpadding="0" cellspacing="0" border="0" valign="middle" style="        padding: 0px 7px 0px 0px;
        border-left: none rgb(148,214,220);
        border-top: none rgb(148,214,220);
        border-bottom: none rgb(148,214,220);
        border-right: 3px solid rgb(148,214,220);
        width: 115px">
                    <img src="https://www.primemedicalalert.com/wp-content/uploads/2016/07/PMA-Logo-1.png" style="border: 0px; vertical-align: middle; max-width: 100%; width: 115px; border-radius: 0px" class="CToWUd">                    
                </td>
                <td cellpadding="0" cellspacing="0" border="0" valign="middle" style="padding:0px 0px 0px 7px">
                    <table style="border-spacing:0px;border-collapse:collapse;background-color:transparent">
                        <tbody>
                            <tr>
                                <td colspan="2" style="padding:0px 0px 3px;line-height:1.4;font-weight:600">
                                    <span style="color:rgb(148,214,220);font-family:Verdana,sans-serif;font-size:18px">Joy Couffer</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding:0px;line-height:1.4">
                                    <span style="        display: inline-block;
        font-family: Verdana,sans-serif;
        font-weight: bold;
        line-height: 1.4">Prime Medical Alert</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="padding:0px;line-height:1.4">
                                    <span style="display:inline-block">
                                        <span style="color:rgb(148,214,220);font-family:Verdana,sans-serif">Cell:&nbsp;</span>
                                        <span style="font-family:Verdana,sans-serif;margin-right:10px">
                                            <span>602-620-1999</span>
                                        </span>
                                    </span>
                                    <span style="display:inline-block">
                                        <span style="color:rgb(148,214,220);font-family:Verdana,sans-serif">Office:&nbsp;</span>
                                        <span style="        font-family: Verdana,sans-serif;
        margin-right: 10px">
                                            <span>800-723-6442</span>
                                        </span>
                                    </span>
                                    <span style="display:inline-block">
                                        <span style="color:rgb(148,214,220);font-family:Verdana,sans-serif">Fax:&nbsp;</span>
                                        <span style="font-family:Verdana,sans-serif;margin-right:10px">
                                            <span>800-531-3517</span>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 0px; line-height: 1">
                                    <span style="color:rgb(148,214,220);font-family:Verdana,sans-serif">A:&nbsp;</span>
                                    <span>
                                        <span style="font-family:Verdana,sans-serif">4041 N Central Ave, Suite 515</span>
                                    </span>,&nbsp;&nbsp;
                                    <span style="display:inline-block">
                                        <span colspan="2" style="font-family:Verdana,sans-serif;line-height:1">Phoenix, Arizona 85012</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding:0px;line-height:1.4">
                                    <a href="https://www.seniorplanning.org/" style="color:rgb(221,32,34);background-color:transparent;outline:0px;margin-right:10px;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.seniorplanning.org/&amp;source=gmail&amp;ust=1570041515009000&amp;usg=AFQjCNGZXXqzfxAJVXj4f6EfDv5Ki62INQ">
                                        <span style="font-family:Verdana,sans-serif;color:rgb(148,214,220)">W:&nbsp;</span>
                                        <span style="font-family:Verdana,sans-serif;color:rgb(148,214,220)">www.primemedicalalert.com</span>
                                    </a>
                                    <a href="mailto:jaeger@seniorplanning.org" style="        color: rgb(221,32,34);
        background-color: transparent;
        outline: 0px;
        display: inline-block" target="_blank">
                                        <span style="font-family:Verdana,sans-serif;color:rgb(148,214,220)">E:&nbsp;</span>
                                        <span style="font-family:Verdana,sans-serif;color:rgb(148,214,220)">                                            
                                            <wbr>joy@primemedicalalert.com
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>