<span style="display: inline-block; width: 730px;"><span style="font-family:Verdana,sans-serif;margin-right:10px"><span>{{MAIN_TEXT}} If you have questions, or something is unclear, please reach out to your representative ({FIN_REP_NAME}, phone number: {FIN_REP_PHPNE})</span></span></span>
<br />
<br />

<span style="font-family:Verdana,sans-serif;font-weight:bold;margin-right:10px"><img src='http://referrals.seniorplanningcare.org/patients-portal/assets/images/tick_3.png' alt='' width='24' height='24' />Green Check Mark = We have received the correct documentation for this item</span>
<br/> <br />
<table style="font-family: arial, sans-serif;border-collapse: collapse;width: 640px;">
    <tbody>
        {{TABLE_BODY}}
    </tbody>
</table>